.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}
.web {
  color: #2196f3;
}
.header-link {
  color: #212121;
  text-decoration: none;
}
.header-link:hover,
.header-link:focus {
  color: #2196f3;
}
.contact {
  color: #757575;
  text-decoration: none;
}
.contact:hover,
.contact:focus {
  color: #2196f3;
}
.button:hover {
  cursor: pointer;
}
.heading {
  background: #2f303a;
}
.heading-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.li-paragraph {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.adress-font {
  font-style: normal;
}
.heading-2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.team-spec {
  color: #757575;
  font-size: 16px;
  line-height: 19px;
}
